html, body {
  background-color: #252525;
  color: whitesmoke;
  height: 100%;
  display: flex;
  flex-direction: column;
}

main { flex: 1; }
footer { margin-top: auto; }

.product-card {
  border: 1px solid #ddd;
  color: #000;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
.product-title { font-size: 1.25rem; font-weight: bold; margin-top: 10px; }
.product-description { font-size: 0.875rem; color: #777; margin-top: 10px; }

.container { max-width: 1200px; }
.row.g-4 { gap: 2rem; }
.img-card { width: 300px; height: 350px; }

.btn { background-color: #91c4f2; }

.hidden { display: none; }
.d-none { display: none; }

.custom-overlay {
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 2000;
}

.custom-modal {
  position: fixed; 
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2001; 
  width: 400px;
  max-width: 90%;
}

.custom-modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
}
.contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
